:root {
  --primary-dark: black;
  --primary-light: rgb(254, 250, 255);
  --light-text: rgb(136, 133, 133);
  --dark-text: #8E8D8A;
  --accent: #6b638b;
  /* --primary-dark: #8E8D8A;
  --primary-light: #EAE7DC;
  --primary-yelow: #EEB34B;
  --dark: #1A1A1A; */

  --yellow-gradient: linear-gradient(0deg, rgba(235,161,60,1) 0%, rgba(244,205,111,1) 100%);
  --turquiose: #74aec0;
  --seafoam: #a8ecc9;
  --yellow: #f4cd6f;
}

/* body[data-theme='pinky_purple_classic'] {
  --primary-dark: rgb(82, 38, 98);
  --primary-light: rgb(254, 250, 255)
}

body[data-theme='standard_dev'] {
  --primary-dark: rgb(38, 35, 35);
  --primary-light: rgb(44, 204, 215);
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  background-color: white;
  color: var(--primary-dark);
  height: 100%;
  transition: background 0.25s ease-in-out;
  overflow-x:hidden ;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.container, .container-fluid {
  padding: 0px !important;
}

/* ABOUT SECTION */
.welcome {
  font-size: 53px;
}

.job-title {
  font-size: 24px;
}

.profile-photo {
  filter: grayscale();
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.light-text {
  color: rgb(136, 133, 133);
}

.dark-text {
  color: var(--accent);
  font-weight: bolder;
}

.large-text {
  font-size: 65px;
}

#about {
  background-color: white;
  text-align: center;
}

.home-text {
  line-height: 2;
}

/* CONTACT FORM */
input {
  border: none;
  border-bottom: 1px solid black;
}

#contact {
  /* background: url('https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'); */
  background-color: #e9ecee;
  padding-bottom: 30px;
}

.contactForm {
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 50px 20px;
}

.social_media_connect {
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

.contact-header {
  color: var(--accent);
  margin-bottom: 20px;
}

.contact-header h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.contact-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.contact-header h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent);
  bottom: 0;
  left: calc(50% - 20px);
}

/* CONTACT FORM SUBMIT BUTTON ANIMATION */
a{
  text-decoration: none;
  color: inherit;
}
.cta{
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
}
.cta:hover {
  color: var(--primary-light)
}
.cta:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--primary-light);
  width: 56px;
  height: 56px;
  transition: all .3s ease;
}
.cta span{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle
}
.cta span:hover {
  color: var(--primary-light)
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .5s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--primary-dark);
  color: var(--primary-light)
}

.cta:hover svg {
  transform: translateX(0);
  stroke: var(--primary-light)
}

.cta:active {
  transform: scale(.76);
}

.linkedin-logo {
  margin-right: 10px;
}

input:focus-visible {
  outline: none;
}

/* NAVBAR ANIMATION STYLES */
 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(188, 181, 192, 0.676);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.848);
}

.button {
  position: relative;
  border: none;
  background-color: transparent;
}

.button:hover {
  color: var(--primary-dark) !important;
  cursor: pointer;
}

.button.type2::after,
.button.type2::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 75px;
  height: 2px;
  background-color: rgba(230, 223, 233, 0.815);
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.button.type2:hover:before {
  top: 0;
  transform: scale(1);
  background-color: var(--primary-dark);
}

.button.type2:hover:after {
  transform: scale(1);
  background-color: var(--primary-dark);
}

.navbar-nav {
  width: 100%;
  justify-content: right;
}

.navbar-nav > .active {
  font-weight: bold;
}

.navbar-nav * {
  margin-right: 15px;
} 

/* .navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.circle {
  width: 90px;
  height: 90px;
  background-color: var(--accent);
  border-radius: 0 0 0 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
}

.nav-list {
  position: absolute;
  top: 20px;
  right: -100px;
  width: 120px;
  background-color: var(--accent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.navbar:hover {
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
}

.circle:hover {
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
}

.circle:hover + .nav-list {
  right: 10px;
  opacity: 1;
  visibility: visible;
  border-radius: 0 0 0 100%;
} */


/* EXPERIENCE SECTION */
#experiencesDiv {
  overflow: scroll;
}

.experience-section-header {
  color: var(--accent);
}


.experience-section-header h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.experience-section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.experience-section-header h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent);
  bottom: 0;
  left: calc(50% - 20px);
}

#experience {
  /* background-color: #82a9b83d; */
  background-color: white;
  padding-bottom: 50px;
}

.experience-icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical-timeline-element-content {
  box-shadow: 3px 3px 3px #ddd;
  background-color: #f2f5f7 !important;
  border-bottom: none;
}

.experience-link:hover {
  color: black;
  display: inline-block;
}

.experience-link:after {
  display: block;
  content: '';
  border-bottom: 1px solid black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.experience-link:hover:after {
  transform: scaleX(1);
}

/* PROJECT PAGE */
.offcanvas {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  width: 400px;
  height: 100%;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: var(--accent);
  color: white;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#modalBtn {
  background-color: var(--primary-dark);
  color: white;
  border-radius: 50%;
}

.project-btn {
  background: linear-gradient(180deg, rgba(82, 38, 98, 0.75) 0%, rgba(82, 38, 98, 0.75) 100%);
  border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: none !important;
  box-shadow: none !important;
}

.project-img {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.project-container {
  /* max-width: 800px; */
  padding-bottom: 100px !important;
}

.project-tech-list {
  font-size: 12px;
}

.project-descr {
  font-size: 14px;
}

.btn-close {
  background-color: white;
  color: white !important;
  position: absolute;
  right: 10px;
  top: 10px;
}

#projects {
  background-color: white;
}

.project-headline {
  color: var(--accent);
}

.project-headline h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.project-headline h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.project-headline h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent);
  bottom: 0;
  left: calc(50% - 20px);
}

/* FOOTER */
.footer-heart {
  margin: 5px 5px 0px 5px;
}

.Footer_footer___O5Nl {
  background-color: #3d2f5a;
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin: 5px;
}


/* PARRALAX */
.firstImg, .secondImg, .thirdImg, .fourthImg {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstImg {
  background-image: url('../images/bc.jpeg');
  height: 800px;
  background-size: cover;
  will-change: transform;
}

.secondImg, .fourthImg {
  background-image: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  height: 250px;
  background-size: cover;
  filter: grayscale(.3);
}

.thirdImg {
  background-image: url('https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  height: 300px;
  filter: grayscale(.3);
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.Typewriter__wrapper{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 3px solid white;
}


