:root {
  --primary-dark: black;
  --primary-light: rgb(254, 250, 255);
  /* --primary-dark: #8E8D8A;
  --primary-light: #EAE7DC;
  --primary-yelow: #EEB34B;
  --dark: #1A1A1A; */

  --yellow-gradient: linear-gradient(0deg, rgba(235,161,60,1) 0%, rgba(244,205,111,1) 100%);
  --turquiose: #74aec0;
  --seafoam: #a8ecc9;
  --yellow: #f4cd6f;
}

/* body[data-theme='pinky_purple_classic'] {
  --primary-dark: rgb(82, 38, 98);
  --primary-light: rgb(254, 250, 255)
}

body[data-theme='standard_dev'] {
  --primary-dark: rgb(38, 35, 35);
  --primary-light: rgb(44, 204, 215);
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  background-color: white;
  color: var(--primary-dark);
  height: 100%;
  transition: background 0.25s ease-in-out;
  overflow-x:hidden 
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.container, .container-fluid {
  padding: 0px !important;
}

/* ABOUT SECTION */
.welcome {
  font-size: 53px;
}

.job-title {
  font-size: 24px;
}

.profile-photo {
  filter: grayscale();
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.light-text {
  color: rgb(214, 212, 212);
}

.dark-text {
  color: rgb(253, 253, 253);
  font-weight: bolder;
}

.large-text {
  font-size: 65px;
}

#about {
  background-color: #88636b;
  display: flex;
  align-items: center;
}

.home-text {
  line-height: 2;
}

/* CONTACT FORM */
input {
  border: none;
  border-bottom: 1px solid black;
}

#contact {
  margin-top: 150px;
  background: url('https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
}

.contactForm {
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 50px 20px;
}

.social_media_connect {
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

/* CONTACT FORM SUBMIT BUTTON ANIMATION */
a{
  text-decoration: none;
  color: inherit;
}
.cta{
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
}
.cta:hover {
  color: var(--primary-light)
}
.cta:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--primary-light);
  width: 56px;
  height: 56px;
  transition: all .3s ease;
}
.cta span{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle
}
.cta span:hover {
  color: var(--primary-light)
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .5s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--primary-dark);
  color: var(--primary-light)
}

.cta:hover svg {
  transform: translateX(0);
  stroke: var(--primary-light)
}

.cta:active {
  transform: scale(.76);
}

.linkedin-logo {
  margin-right: 10px;
}

input:focus-visible {
  outline: none;
}

/* NAVBAR ANIMATION STYLES */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* background-color: rgba(230, 223, 233, 0.815); */
  box-shadow: 0px 5px 10px rgba(188, 181, 192, 0.676);
  padding: 15px;
}

.button {
  position: relative;
  border: none;
  background-color: transparent;
}

.button:hover {
  color: var(--primary-dark) !important;
  cursor: pointer;
}

.button.type2::after,
.button.type2::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 75px;
  height: 2px;
  background-color: rgba(230, 223, 233, 0.815);
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.button.type2:hover:before {
  top: 0;
  transform: scale(1);
  background-color: var(--primary-dark);
}

.button.type2:hover:after {
  transform: scale(1);
  background-color: var(--primary-dark);
}

.navbar-nav {
  width: 100%;
  justify-content: right;
}

.navbar-nav > .active {
  font-weight: bold;
}

.navbar-nav * {
  margin-right: 15px;
}

/* EXPERIENCE SECTION */
#experiencesDiv {
  overflow: scroll;
}

#experience {
  background: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}

.vertical-timeline-element-content {
  box-shadow: 3px 3px 3px #ddd;
}

/* PROJECT PAGE */
.offcanvas {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
  width: 400px;
  height: 100%;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: var(--primary-dark);
  color: white;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#modalBtn {
  background-color: var(--primary-dark);
  color: white;
  border-radius: 50%;
}

.project-btn {
  background: linear-gradient(180deg, rgba(82, 38, 98, 0.75) 0%, rgba(82, 38, 98, 0.75) 100%);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: none !important;
  box-shadow: none !important;
}

.project-img {
  margin: 10px;
  float: left;
  border-radius: 50%;
}

.project-container {
  max-width: 800px;
  padding-bottom: 50px !important;
}


.img-vantage {
  box-shadow: inset 0 0 12px blue;
}

.img-lampros {
  box-shadow: inset 0 0 12px green;
}

.img-localeyz {
  box-shadow: inset 0 0 12px black;
}

.project-tech-list {
  font-size: 12px;
}

.project-descr {
  font-size: 14px;
}

.btn-close {
  background-color: white;
  color: white !important;
  position: absolute;
  right: 10px;
  top: 10px;
}

#projects {
  background-color: #9f8997;
}

.project-headline {
  color: white;
}

/* FOOTER */
.footer-heart {
  margin: 5px 5px 0px 5px;
}

.Footer_footer___O5Nl {
  margin-top: 20px;
  background-color: #3d2f5a;
  color: white;
}

/* PARRALAX */
.firstImg, .secondImg, .thirdImg {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstImg {
  background-image: url('../images/bc.jpeg');
  min-height: 100vh;
}

.secondImg {
  background-image: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  min-height: 250px;
  filter: grayscale(.8);
}

.thirdImg {
  background-image: url('https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5hdHVyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60');
  height: 300px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.Typewriter__wrapper{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 3px solid white;
}

