:root {
  --primary-dark: rgb(82, 38, 98);
  --primary-light: rgb(254, 250, 255);
}

body[data-theme='pinky_purple_classic'] {
  --primary-dark: rgb(82, 38, 98);
  --primary-light: rgb(254, 250, 255)
}

body[data-theme='standard_dev'] {
  --primary-dark: rgb(38, 35, 35);
  --primary-light: rgb(44, 204, 215);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  height: 100%;
  transition: background 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}


.navbarStyle > * {
  text-decoration: none;
  color: white;
  padding: 10px;
  color: var(--primary-dark);
  font-weight: 700;
}

.navbar {
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px #ebe4e4;
  padding-bottom: 10px;
}

.welcome {
  font-size: 53px;
}

.job-title {
  font-size: 24px;
}

.profile-photo {
  border-radius: 50%;
}

.light-text {
  color: #667182;
}

.dark-text {
  color: var(--primary-dark);
}

.large-text {
  font-size: 65px;
}

.card-div {
  width: 18rem;
  display: inline-block;
  margin: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#modalBtn {
  background-color: var(--primary-dark);
  color: white;
  border-radius: 50%;
}

#cardModal {
  padding: 30px;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

.contactForm {
  max-width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 50px 20px;
}

.contactForm:nth-child(3) input {
  height: 200px;
}

/* CONTACT FORM SUBMIT BUTTON ANIMATION */
a{
  text-decoration: none;
  color: inherit;
}
.cta{
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
}
.cta:hover {
  color: var(--primary-light)
}
.cta:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--primary-light);
  width: 56px;
  height: 56px;
  transition: all .3s ease;
}
.cta span{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle
}
.cta span:hover {
  color: var(--primary-light)
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .5s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--primary-dark);
  color: var(--primary-light)
}

.cta:hover svg {
  transform: translateX(0);
  stroke: var(--primary-light)
}

.cta:active {
  transform: scale(.76);
}

/* NAVBAR ANIMATION STYLES */
.button {
  position: relative;
  border: none;
  background-color: transparent;
}

.button a:hover {
  color: var(--primary-dark)
}

.button.type2::after,
.button.type2::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-light);
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.button.type2:hover:before {
  top: 0;
  transform: scale(1);
  background-color: var(--primary-dark);
}

.button.type2:hover:after {
  transform: scale(1);
  background-color: var(--primary-dark);
}

#experiencesDiv {
  overflow: scroll;
}

/* PROJECT PAGE */
.offcanvas {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
  width: 400px;
  height: 100%;
}

.offcanvas-header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 1rem;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.project-container {
  max-width: 700px;
}

.project-btn {
  background: linear-gradient(180deg, rgba(82, 38, 98, 0.75) 0%, rgba(82, 38, 98, 0.75) 100%);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: none !important;
  box-shadow: none !important;
}

.project-img {
  margin: 10px;
  float: left;
  border-radius: 50%;
}

.img-vantage {
  box-shadow: inset 0 0 12px blue;
}

.img-lampros {
  box-shadow: inset 0 0 12px green;
}

.img-localeyz {
  box-shadow: inset 0 0 12px black;
}

